<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lambdae</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
    <br>
    <label>PhoneNumber: </label>
    <input type="text" id="phonenumber">
    <br>
    <br>
    <label>CountryCode: </label>
    <input type="text" id="countrycode">
    <br>
    <br>
    <button onclick="validate()">Validate</button>
    <br>
    <br>
    <p id="result"></p>


</body>

</html>